@using Microsoft.AspNet.Identity
@using System.Security.Claims;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="float-right">
            <div class="make_appo"><a class="btn white_btn" href="javascript:document.getElementById('logoutForm').submit()">Одјави се</a></div>
        </div>
        <div class="float-right">
            <div class="make_appo">
                @Html.ActionLink("Здраво " + ((ClaimsIdentity)User.Identity).FindFirst("Firstname").Value + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn white_btn" })
            </div>
        </div>
    }
}
else
{
    <div class="float-right">
        <div class="make_appo">  @Html.ActionLink("Регистрирај се", "Register", "Account", new { area = "" }, new { @class = "btn white_btn" }) </div>

    </div>
    <div class="float-right">
        <div class="make_appo"> @Html.ActionLink("Логирај се", "Login", "Account", new { area = "" }, new { @class = "btn white_btn" }) </div>
    </div>
}
