@{
    ViewBag.Title = "За нас";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="main_heading text_align_center">
                    <h2>We are Leading Company</h2>
                    <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row about_blog">
        <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
            <div class="full text_align_left">
                <h3>What we do</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley..
                </p>
                <ul>
                    <li><i class="fa fa-check-circle"></i>Persius appetere pro mea harum ridens</li>
                    <li><i class="fa fa-check-circle"></i>Instructior vis at causae legimus luptatum mel</li>
                    <li><i class="fa fa-check-circle"></i>Maluisset id persius appetere pro mea harum</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about_feature_img padding_right_0">
            <div class="full text_align_center"> <img class="img-responsive" src="~/images/it_service/post-06.jpg" alt="#" /> </div>
        </div>
    </div>
</div>