@{
    ViewBag.Title = "Контакт";
}
<h2 style="text-align:center">@ViewBag.Title</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="full">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 adress_cont margin_bottom_30">
                        <h4>Address One</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor.</p>
                        <div class="information_bottom left-side margin_bottom_20_all">
                            <div class="icon_bottom"> <i class="fa fa-road" aria-hidden="true"></i> </div>
                            <div class="info_cont">
                                <h4>Lorem Ipsum is simply dummy text..</h4>
                                <p>Melbourne Australia</p>
                            </div>
                        </div>
                        <div class="information_bottom left-side margin_bottom_20_all">
                            <div class="icon_bottom"> <i class="fa fa-user" aria-hidden="true"></i> </div>
                            <div class="info_cont">
                                <h4>0011 234 56789</h4>
                                <p>Mon-Fri 8:30am-6:30pm</p>
                            </div>
                        </div>
                        <div class="information_bottom left-side">
                            <div class="icon_bottom"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                            <div class="info_cont">
                                <h4>Example@gmail.com</h4>
                                <p>24/7 online support</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 adress_cont margin_bottom_30_all">
                        <h4>Address Two</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor.</p>
                        <div class="information_bottom left-side margin_bottom_20_all">
                            <div class="icon_bottom"> <i class="fa fa-road" aria-hidden="true"></i> </div>
                            <div class="info_cont">
                                <h4>Lorem Ipsum is simply dummy text..</h4>
                                <p>Sydney Australia</p>
                            </div>
                        </div>
                        <div class="information_bottom left-side margin_bottom_20_all">
                            <div class="icon_bottom"> <i class="fa fa-user" aria-hidden="true"></i> </div>
                            <div class="info_cont">
                                <h4>0011 234 56789</h4>
                                <p>Mon-Fri 8:30am-6:30pm</p>
                            </div>
                        </div>
                        <div class="information_bottom left-side">
                            <div class="icon_bottom"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                            <div class="info_cont">
                                <h4>Example@gmail.com</h4>
                                <p>24/7 online support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>