@{
    ViewBag.Title = "Дома";
}

<div class="row">
    <div class="col-md-12">
        <div class="full">
            <div class="main_heading text_align_center">
                <h2>Наши продукти</h2>
                <p class="large">We package the products with best services to make you a happy customer.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/1.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Norton Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/2.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Kaspersky Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/3.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Mcafee Livesafe Antivirus</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/4.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Norton Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/5.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Norton Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/6.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Kaspersky Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/7.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Mcafee Livesafe Antivirus</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/8.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Norton Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/1.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Norton Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/2.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Kaspersky Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/3.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Mcafee Livesafe Antivirus</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src="~/images/it_service/4.jpg" alt=""> </div>
            <div class="product_detail_btm">
                <div class="center">
                    <h4><a href="it_shop_detail.html">Norton Internet Security</a></h4>
                </div>
                <div class="starratin">
                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                </div>
            </div>
        </div>
    </div>
</div>